.inbox {
    background-color: var(--GLASS-UI);
    padding: 15px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    height: 85vh;
    ::-webkit-scrollbar {
        display: none;
    }
   
}
.findSection input {
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
}
.profileActive {
  box-shadow: 0px 0px 15px -4px #5fff5f;
}

.friendCard  * {
    pointer-events: none;
}

.friendCard {
    background-color: var(--GLASS-UI);
    display: flex;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    transition: .4s;
    gap: 10px;
    margin: 10px 0;
    position: relative;
}



.message {
    color: rgb(217 217 217 / 87%);
    padding: 5px 0;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.friendCard img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.friendCard button {
    padding: 10px;
}
.friendCard h3 {
    color: white;
    font-size: 20px;
}
.contact {
    background-color:var(--GLASS-UI);
    padding: 15px;
    gap: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 5px;
}
.contact img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.dot::after {
        content: '';
        width: 10px;
        border-radius: 50%;
        height: 10px;
        background-color: #28cb2a;
        position: absolute;
}
.dot {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
    padding: 5px;
}
.bolder {
    color: #f8f8f8;
}
.active {
    background-color: var(--GLASS-UI-DARK);
}

.emptyInbox{
    padding: 20px;
    color: white;
    text-align: center;
    background: var(--GLASS-UI);
    border-radius: 15px;
}

.emptyInbox h3 {
    margin-bottom: 15px;
}


@media screen and (max-width: 768px) { 
    .hidebody{
        display: none;
    }
    .inbox{
        height: 100vh;
        background-color: var(--GLASS-UI);
        padding: 10px;
        border-radius: 0;
    }
}
