.findSection {
    background-color: var(--GLASS-UI);
    padding: 25px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    height: 85vh;
    border-radius: 20px;
}
.searchBar{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.searchBar button {
    padding: 15px;
}
.findSection input {
    border: none;
    padding: 15px;
    flex-grow: 1;
    font-size: 18px;
    border-radius: 10px;
}

.friendCard {
    background-color: var(--LIGHT-GLASS-UI);
    display: flex;
    padding: 10px;
    border-radius: 10px;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.friendCard p{
    color: #f0f0f0ab;
    padding: 10px ;

}
.friendCard img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.friendCard button {
    padding: 10px;
}
.friendCard h3 {
    color: white;
    font-size: 20px;
    flex-grow: 3;
    text-align: left;
}
.hidden {
    display: none;
}


@media screen and (max-width: 768px){
.findSection {
    height: 100vh;
    border-radius: 0;
}
}