.heading {
    padding: 20;
    color: white;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_elements {
    color: white;
    padding: 20px;
    min-width: 330px;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    font-size: 20px;
    gap: 10px;
}
.loginBtn {
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
    color:#fff
}
.loginBtn span {
    display: inline-block;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px 0;
}
.loginBtn span:hover {
    background-color: var(--UI);
    color: white;
    cursor: pointer;
}
.form_elements h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    padding: 20px 0;
    text-transform: uppercase;
}

.form_elements input {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
}
.form_elements button {
    margin-top: 20px;
}
.google_btn{
    margin: auto;
    vertical-align: middle;
}
.google_btn img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
}
.google_btn button {
    padding: 0 10px 0 0;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    gap: 10px;
    /* width: 100%; */
}


@media screen and (max-width: 768px) { 
    .mainContent{
        flex-flow: column;
    }
    .form_elements {
        min-width: 0;
        width: 100%;
        font-size: 18px;
    }
    .center {
        width: 100%;
    }
    
}

