.layout {
    position: absolute;
    background: var(--DARK-ONLY);
    height: 85vh;
    transition: 0.5s;
    z-index: 3;
    padding: 10px;
    color: white;
    right: 30px;
    display: flex;
    flex-flow: column;
    width: 40%;
    border-radius: 20px;
  }
  .layoutBar {
    display:  flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 15px;
}


.hide {
    visibility: hidden;
    opacity: 0;
}
.show {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .layout {
      width: 100%;
      position: absolute;
      height: 100%;
      transition: 0.5s;
      z-index: 3;
      right: 0;
      padding: 10px;
      color: white;
      border-radius: 0;
    }
    .hide {
      left: -1000px;
    }
    .show {
        left: 0;
    }
  }
