.group {
    width: 40%;
}

.friendCard {
    background-color: var(--LIGHT-GLASS-UI);
    display: flex;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.friendCard input[type="checkbox"] {
     /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #ffffff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  display: grid;
  place-content: center;
}

.friendCard input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    background: var(--DARK-ONLY);
    transform: scale(0);
    border-radius: 50%;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

 .friendCard input[type="checkbox"]:checked::before {
    transform: scale(1);
  }


.friendCard p{
    color: #f0f0f0ab;
    padding: 10px ;

}
.friendCard img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.friendCard button {
    padding: 10px;
}
.friendCard h3 {
    color: white;
    font-size: 20px;
    flex-grow: 3;
    text-align: left;
}
.buttonGroup{
    margin: auto;
    padding: 10px;
}
.buttonGroup button:disabled {
    opacity: .6;
}
.peopleList{
    flex-grow: 1;
    overflow-y: scroll;

}
.searchBar{
     padding-bottom: 5px;
}

.searchBar input {
    padding: 13px;
    border-radius: 10px;
    border: 0;
    width: 100%;
    font-size: 15px;
    background: var(--GLASS-UI);
    outline: 0;
    height: 50px;
    color: white;
}

.notice{
    display: block;
    padding: 0 0 15px 0px ;
    text-align: center;
    color: white;
}
.message {
    text-align: center;
    color: white;
    padding: 10px;
}
.groupDetails{
    padding: 5px;
    display: flex;
    background: var(--GLASS-UI);
    margin-bottom: 10px;
    gap: 15px;
    border-radius: 10px;
}
.groupDetails input[type="file"] {
    display: none;
}
.groupDetails img {
    width: 50px;
    border-radius: 10px;
    height: 50px;
    position: relative;
    object-fit:cover; 
    cursor: not-allowed;
}


.groupDetails span {
    display: block;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    width: 50px;
    border-radius: 10px;
    height: 50px;
}
.groupDetails span i {
    font-size: 30px;
}
.groupDetails input[type="text"] {
    border: 0;
    background: transparent;
    padding: 10px;
    outline: 0;
    color: white;
    font-size: 18px;
    flex-grow: 1;
    border-radius: 10px;
}