header {
  background: var(--GLASS-UI);
  border-radius: 20px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 35px 0 0;
  align-items: center;
}
.navbar img {
  width: 180px;
  filter: saturate(0);
}
.navbar button a {
  text-decoration: none;
  color: white;
}
.navbar ul {
  list-style-type: none;
}
.navbar ul li {
  display: inline-block;
  margin: 0 5px;
}

@media screen and (max-width: 768px) {
  header {
    display: none;
  }
}



@media screen and (min-width: 769px) and (max-width: 1050px) {
  .contentWrapper{
    width: 100%;
    padding: 20px;
  }
  
.navbar h2 {
  font-size: 25px;
}
} 