.mainContent {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper{
    background-image: linear-gradient(14deg,rgba(87, 15, 181, 0.694),rgb(88 15 181));
    height: 100vh;
    display: flex;
}

.loadingState {
    color: white;
    display: flex;
    flex-flow: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    line-height: 22px;
}


@media screen and (max-width: 768px) { 
    .mainContent{
        flex-flow: column;
        width: 95%;
    }
}

