.chatBody, .blankBody {
  width: 100%;
  height: 85vh;
  background-color: var(--GLASS-UI);
  display: flex;
  flex-flow: column;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}



.bottomOption {
  background-color: var(--LIGHT-GLASS-UI);
  padding: 15px 20px;
  display: flex;
  gap: 10px;;
  width: 100%;
  
}
.bottomOption input {
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  flex-grow: 1;
  border: none;
  width: 100%;
}

.message {
  padding: 5px 15px;
  overflow: auto;
  display: flex;
  width: 100%;
  flex-flow: column;
  flex-grow: 2;
}
.message button {
  width: 150px;
  margin-bottom: 20px;
  margin: auto;
}

.otherUser {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.authUser {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row-reverse;
  gap: 5px;
}

.authUser,
.otherUser {
  padding: 5px 0;
}

.otherUser img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
  align-self: baseline;
}

.textMsg,
.authTextMsg {
  color: white;
  background-color: rgb(22, 20, 20);
  padding: 10px 15px;
  word-break: keep-all;
  max-width: 70%;
  line-height: 24px;
  border-radius: 20px;
}

.textFull{
    max-width: 100%;
}
.textMsg img,
.authTextMsg img {
  /* width: 50%; */
  height: auto;
  object-fit: contain;
  border-radius: 20px;
}
.authTextMsg {
  background-color: rgb(111, 71, 197);
}
.imageFileOther {
  background-color: rgb(22, 20, 20);
  align-items: flex-start;

}
.imageFileAuth {
  background-color: rgb(111, 71, 197);
  align-items: flex-end;

}
.imageFile {
  width: 45%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.imageFile a {
    width: 100%;
}

.imageFile a img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.friendCard {
  background-color: var(--GLASS-UI);
  display: flex;
  padding: 10px 25px;
  border-radius: 20px;
  align-items: center;
  gap: 10px;
}

.friendCard img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.friendCard button {
  padding: 10px;
}
.friendCard button:first-child {
  display: none;
}
.friendCard h3 {
  color: white;
  font-size: 20px;
  flex-grow: 3;
}
.hidden {
  display: none;
}

.scroller {
  padding-top: 175px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--GLASS-UI);
  width: 15px;
  border-radius: 10px;
}

.blockedUi{
  padding: 20px;
  box-shadow: 5px 5px 15px 2px rgb(12, 6, 16);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.blockedUi p{
  line-height: 22px;
}

.blockedUi span {
  color: rgb(243, 92, 36);
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .friendCard button:first-child {
    display: block;
  }
  .hidebody {
    display: none;
  }
  .friendCard {
    width: 100%;
    border-radius: 0px;
    padding: 10px ;
    z-index: 3;
  }
  
  .chatBody {
    height: 100vh;
    border-radius: 0;
  }
  
  .imageFile {
    width: 50%;
  }
  .bottomOption {
    position: fixed ;
    bottom:  0;
  }
}
