.dashboard{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: auto;
}

.people {
    flex: 2;
}
.activeChat {
    flex: 3;
}

@media screen and (max-width: 576px) { 
    .dashboard{
        background-color: rgb(109, 102, 82);
        display: block;
        justify-content: space-between;
        align-items: center;
        gap: 5%;
        width: 100%;
        margin: auto;
    }
}