.inbox {
    background-color: var(--Primary);
    padding: 15px;
    max-width: 450px;
    width: 450px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    height: 90vh;    
}
.findSection input {
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
}


.friendCard  * {
    pointer-events: none;
}

.friendCard {
    background-color: rgb(57, 32, 85);
    display: flex;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.message {
    color: rgb(194, 184, 184);
    width: 60%;
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.friendCard img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.friendCard button {
    padding: 10px;
}
.friendCard h3 {
    color: white;
    font-size: 20px;
}
.contact {
    background-color: rgb(70, 34, 136);
    padding: 15px;
    gap: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 15px;
}
.contact img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
