.navBar {
    display: none;
}

@media screen and (max-width: 768px) { 

    .navBar {
        display: block;
    }
    .navBar ul {
        display: flex;
        padding: 10px;
        justify-content: space-around;
    }
    .hidebody{
        display: none;
    }
}
