@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  --Primary :rgb(31, 30, 30);
  --Secondery : gray;
  --UI : rgb(97, 59, 185);
  --Text-Normal : 20px;
  --Text-Small : 16px;
}

.hidden {
  display: none;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: black ;
}
