@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  --Primary :rgb(31, 30, 30);
  --UI : rgb(97, 59, 185);
  --Text-Normal : 20px;
  --Text-Small : 16px;
  --UI-BACKGROUND : rgb(255 255 255 / 15%);
  --GLASS-UI : rgb(0 0 0 / 35%);
  --GLASS-UI-DARK : rgb(0 0 0 / 75%);
}

.hidden {
  display: none;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(14deg,rgba(87, 15, 181, 0.694),rgb(88 15 181));
  height: 100vh;
}
