@media screen and (max-width: 768px) {
    .show,
    .content {
      width: 100%;
      right: 0;
      height: 100%;
    }
    .content {
      transform: translateX(-800px);
    }
    .show {
      transform: translateX(0);
    }

   
  }