.authUser,
.otherUser {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  padding: 5px 0;
  gap: 5px;
}


.authUser {
  flex-flow: row-reverse;
  
}
.sameUser{
  padding: 2px ;
  transform: translateY(-5px);
  padding-left: 55px;
}

.status {
  display: flex;
  justify-content: center;
  padding: 10px ;
  text-align: center;
  opacity: .5;
  text-transform: lowercase;
}

.otherUser img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  align-self: baseline;
}

.textMsg,
.authTextMsg {
  color: white;
  background-color: rgb(22, 20, 20);
  padding: 8px 16px;
  word-break: keep-all;
  max-width: 70%;
  line-height: 24px;
  display: flex;
  border-radius: 5px;
}

.textFull {
  max-width: 100%;
}
.textMsg img,
.authTextMsg img {
  /* width: 50%; */
  height: auto;
  object-fit: contain;
  border-radius: 20px;
}
.authTextMsg {
  background:var(--LIGHT-BUTTON);
}
.imageFileOther {
  align-items: flex-start;
}
.imageFileAuth {
  align-items: flex-end;
}
.imageFile {
  width: 45%;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}


.imageFile  img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.moreOption {
  margin-right: 10px;
  transition: 0.5s;
  opacity: 0;
}

  .controller{
    width: 100%;
    padding: 0 10px;
    gap: 5px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .controller span {
    font-size: 18px;
    cursor: pointer;
    color:  white;
    padding:0;
  }
  .controller i {
    padding: 8px;
  }
  
  .voiceWave {
    width: 300px;
    cursor: pointer;
  }


.moreOption i {
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.dateAndDelete {
  display: flex;
  flex-flow: row-reverse;
  gap: 20px;
  color: rgb(255, 255, 255);
  align-items: center;
  padding: 10px;
}

.authUser:hover .moreOption {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .imageFile {
    width: 55%;
  }
}

.smallMessage{
  padding: 5px;
}
.smallMessage p{
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  text-transform: lowercase;
}
